{{ define "main" }}
{{- range .Params.page_sections -}}
        {{- if eq .template "generic-header" -}}{{ partial "blocks/generic-header" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "centred-text" -}}{{ partial "blocks/centred-text" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "three-columns" -}}{{ partial "blocks/three-columns" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "feedback-quote" -}}{{ partial "blocks/feedback-quote" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "news-block" -}}{{ partial "blocks/news-block" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "icon-grid" -}}{{ partial "blocks/icon-grid" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "partners" -}}{{ partial "blocks/partners" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "contact-form" -}}{{ partial "blocks/contact-form" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "cta-block" -}}{{ partial "blocks/cta-block" (dict "Params" .) }}{{- end -}}
{{- end -}}

{{end}}
