{{ define "main" }}
  {{ partial "blocks/generic-header" . }}
  
    <section class="bg-grey-lighter stripe-texture sm:py-24 py-8">
      <div class="max-w-4xl m-auto">
      {{ range .Paginator.Pages }}
        <div class="shadow-md bg-white sm:w-3/5 mx-4 sm:mx-auto rounded overflow-hidden my-16 text-left">
            {{ if .Params.featured_image }}
            <a href="{{ .URL }}"><img src="{{ .Params.featured_image }}" /></a>
            {{ end }}
            <div class="p-8 sm:p-12">
                {{ if .Date }}
                  <div class="text-md uppercase tracking-wide font-bold">
                    {{ .Date.Format "January 2, 2006" }}
                  </div>
                {{ end }}
                
                <h1 class="font-fancy sm:text-3xl text-2xl text-grey-darker pt-2">
                  <a href="{{ .URL }}" class="hover:text-sc-blue text-grey-darkest no-underline">
                    {{ .Title }}
                  </a>
                </h1>
                <div class="text-md uppercase tracking-wide font-bold">
                  {{ range .Params.tags }}
                    <button class="trans-02 border-2 border-sc-blue bg-sc-blue mb-3 capitalize text-sm rounded mt-4 py-1 px-3 text-right font-semibold no-underline text-white">{{ . }}</button>
                  {{ end }}
                </div>
                <div class="text-xl leading-normal">
                  {{ .Summary  }}
                </div>
              </div>
        </div>
      {{ end }}
        <article class="m-auto w-3/5 flex list-reset justify-center">
          {{ template "_internal/pagination.html" . }}
        </article>
      </div>
    </section>
{{ end }}