<footer class="w-full sc-blue-grad py-12">
  <div class="flex md:flex-row flex-col flex-auto px-8 justify-between items-center">
    <div class="md:w-1/3 w-full mb-8 md:mb-0 order-2 md:order-1">
      <address class="text-white leading-normal text-lg roman">
        Sporting Chance Project<br />
        Unit 1A &amp; 1B <br />
        Heston House<br />
        7-9 Emery Road<br />
        Bristol<br />
        BS4 5PF<br />
        United Kingdom
      </address>
    </div>

    <div id="footerLogo"
      class="md:w-1/3 sm:py-0 py-8 w-full text-center flex justify-center items-center mb-8 md:mb-0 order-1 md:order-2">
      <img src="/img/scplogo1.png" alt="sporting chance logo" class="max-w-full h-auto max-h-24 md:max-h-32">
    </div>

    <div class="md:w-1/3 w-full order-3 md:order-3">
      <address class="text-white md:text-right leading-normal text-lg roman break-words">
        Telephone : 0117 203 4322<br />
        Mobile : 07748 633711<br />
        Email : info@sportingchanceproject.co.uk
      </address>
    </div>
  </div>
  
  <!-- Policies Link -->
  <div class="text-center mt-8 pt-8 border-t border-white border-opacity-20">
    <a href="/policies/" class="text-white text-sm hover:text-sc-yellow trans-02 no-underline">
      Policies & Procedures
    </a>
  </div>
</footer>