.pagination {
    list-style-type:none;
    text-align: center;
    padding-left:0;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}

.pagination li {
    padding:.2rem;
}

.pagination a {
    text-decoration: none;
    color: black;
}