{{ $Params := .Params }}

<section class="sm:max-w-lg w-5/6 my-24 m-auto py-10 text-center">
    {{ with .Params.header }}<h2 class="font-header text-4xl sm:text-5xl font-gray font-medium py-10">{{ . }}</h2>{{ end }}
    {{ with .Params.main_text }}<p class="font-main lg:text-2xl text-lg leading-normal text-grey-darkest">{{ $Params.main_text | safeHTML }}</p>{{ end }}
    {{ with .Params.text_section}}
        {{ range $i, $e:= . }}
            {{ with .heading }}<h2 style="text-shadow:3px 4px 0px rgba(82, 176, 191, 0.7);" class="text-4xl font-thin text-left py-8 font-fancy text-black">{{ . }}</h2>{{ end }}
            <p class="font-main lg:text-2xl text-lg leading-normal text-grey-darkest">{{ .content | safeHTML }}</p>
        {{ end }}
    {{ end }}


    {{ with .Params.button }}<div class="my-12"><a href="{{ $Params.buttonlink}}" class="trans-02 border-2 hover:border-sc-blue hover:bg-sc-blue my-5 text-xl border-grey-darker rounded mt-4 p-4 text-right font-semibold no-underline text-grey-dark hover:text-white" href="/">{{ $Params.buttontext }} →</a></div>{{ end }}
</section>