<section style="background-color: #fafafa;" class="my-12 py-10 text-center px-8">
    <div class="max-w-xl m-auto">
        <img src="/img/quote.svg" class="w-16" alt="quote icon" />
        <p class="relative font-semibold font-main lg:text-3xl text-xl leading-normal text-grey-darkest pt-8 pb-5">{{ .Params.quote }}</p>  
        <div class="m-auto pt-4">
            <h3 class="text-grey-darkest tracking-wide font-bold text-xl uppercase mb-0 leading-normal">{{ .Params.name }}</h3>
            <p class="text-lg">{{ .Params.caption }}</p>
        </div>
    </div>
</section>