<style>
    .header-overlay::after {
        top:0;
        left:0;
        right:0;
        bottom:0;
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        z-index:1;
        opacity: 0.6;
        background-image: linear-gradient(to right, #77a3de 10%, #1cbed4 100%);
    }
</style>

{{ $Params := .Params }}

<section class="w-full relative mt-24">
        <div class="animated fadeIn max-w-lg relative z-10 m-auto text-center py-16">
            <h1 class="md:text-headline text-3xl  font-header text-grey-darker font-medium">{{ .Params.header }}</h1>
            <hr class="p-1 sc-red-grad md:w-28 w-24 my-8">
            <p class="text-xl px-16 leading-normal text-grey-darker">{{ .Params.subtext }}</p>

        </div>

        {{ with .Params.image }}
        <div class="w-full relative text-center mt-12">  
                <img src="{{ $Params.image }}" alt="{{ $Params.alt }}" class="w-full relative"/>
        </div>
        {{ end }}

</section>