<section class="max-w-2xl mb-12 py-20 m-auto py-10 text-center">
        <h2 class="font-header md:text-5xl text-4xl font-gray font-medium py-10">{{ .Params.header }}</h2>
        <div class="flex sm:flex-row flex-col flex-auto justify-between py-5">
            <img class="self-center mx-4 h-24 sm:h-16 sm:py-0 py-4" src="/img/southglos.png" alt="south gloucester council"/>
            <img class="self-center mx-4 h-24 sm:h-16 sm:py-0 py-4" src="/img/bcc.png" alt="south gloucester council"/>
            <img class="self-center mx-4 h-24 sm:h-16 sm:py-0 py-4" src="/img/northsom.png" alt="south gloucester council"/>
            <img class="self-center mx-4 h-24 sm:h-16 sm:py-0 py-4" src="/img/briscity.png" alt="south gloucester council"/>
            <img class="self-center mx-4 h-24 sm:h-16 sm:py-0 py-4" src="/img/brissport.png" alt="south gloucester council"/>
        </div>

</section>