<section class="w-full my-4 flex flex-col lg:flex-row text-white">

    <article style="background-image:url({{ .Params.bg_1}})"
        class="flex-1 relative z-10 bg-cover px-6 lg:px-8 py-24 lg:py-32 text-center mb-4 lg:mb-0 lg:mr-2 max-w-full lg:max-w-md lg:mx-auto">
        <div class="absolute inset-0 w-full h-full z-20 opacity-85 bg-sc-yellow"></div>
        <div class="relative z-30">
            <h2 class="font-fancy text-3xl lg:text-4xl font-medium">{{ .Params.header_1 }}</h2>
            <p class="text-lg lg:text-xl leading-normal py-5">{{ .Params.text_1}}</p>
        </div>
    </article>

    <article style="background-image:url({{ .Params.bg_2}})"
        class="flex-1 relative z-10 bg-cover px-6 lg:px-8 py-24 lg:py-32 text-center mb-4 lg:mb-0 max-w-full lg:max-w-md lg:mx-auto">
        <div class="absolute inset-0 w-full h-full z-20 opacity-85 bg-sc-red"></div>
        <div class="relative z-30">
            <h2 class="font-fancy text-3xl lg:text-4xl font-medium">{{ .Params.header_2 }}</h2>
            <p class="text-lg lg:text-xl leading-normal py-5">{{ .Params.text_2}}</p>
        </div>
    </article>

    <article style="background-image:url({{ .Params.bg_3}})"
        class="flex-1 relative z-10 bg-cover px-6 lg:px-8 py-24 lg:py-32 text-center lg:ml-2 max-w-full lg:max-w-md lg:mx-auto">
        <div class="absolute inset-0 w-full h-full z-20 opacity-85 bg-sc-blue"></div>
        <div class="relative z-30">
            <h2 class="font-fancy text-3xl lg:text-4xl font-medium">{{ .Params.header_3 }}</h2>
            <p class="text-lg lg:text-xl leading-normal py-5">{{ .Params.text_3}}</p>
        </div>
    </article>

</section>