<section class="w-full my-4 md:flex justify-between text-white">
    
    <article style="background-image:url({{ .Params.bg_1}})" class="relative z-10 bg-cover px-10 py-32 text-center mx-1">
        <div class="absolute pin z-20 opacity-90 bg-sc-yellow"></div>
        <div class="relative z-30">
            <h2 class="font-fancy text-4xl font-medium">{{ .Params.header_1 }}</h2>
            <p class=" text-xl leading-normal py-5">{{ .Params.text_1}}</p>
        </div>
    </article>
    
    <article style="background-image:url({{ .Params.bg_2}})" class="relative z-10 bg-cover px-10 py-32 text-center mx-1">
        <div class="absolute pin z-20 opacity-90 bg-sc-red"></div>
        <div class="relative z-30">
            <h2 class="font-fancy text-4xl font-medium">{{ .Params.header_2 }}</h2>
            <p class=" text-xl leading-normal py-5">{{ .Params.text_2}}</p>
        </div>
    </article>
    
    <article style="background-image:url({{ .Params.bg_3}})" class="relative z-10 bg-cover px-10 py-32 text-center mx-1">
        <div class="absolute pin z-20 opacity-90 bg-sc-blue"></div>
        <div class="relative z-30">
            <h2 class="font-fancy text-4xl font-medium">{{ .Params.header_3 }}</h2>
            <p class=" text-xl leading-normal py-5">{{ .Params.text_3}}</p>
        </div>
    </article>

</section>